.btnPlusDarticles {
    color: black !important;
    border: rgb(50, 50, 50) 2px solid !important;
    border-radius: 5px !important;
    margin-top: 5px;
    margin-bottom: 2%;
}

.center {
    display: block;
    text-align: center;
}
